{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Sign In</a></li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Sign In</button>
  </form>

    <div class="border-top pt-3">
        <small class="text_muted">
            <a class="ml-2" href="#">Forgot your password?</a>
        </small>
    </div>
{% endblock %}