{% extends 'base.html' %}

{% block title %}SIgn UP{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Sign Up</a></li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}

    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Create Account</button>
  </form>

    <div class="border-top pt-3">
        <small class="text_muted">
            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
{% endblock %}