{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Veterinary</li>
{% endblock %}

{% block content %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Veterinary</th>
            <th>County</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for vet in vets %}
            <tr>
              <td>
                <a href="{% url 'get-vet' vet.pk %}">{{ vet.name }}</a>
              </td>
              <td class="align-middle">{{ vet.county }}</td>
              <td class="align-middle">{{ vet.phone_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}