{% extends 'base.html' %}

{% block title %}Delete veterinary{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Veterinaries</a></li>
  <li class="breadcrumb-item active">Remove Veterinary</li>
{% endblock %}

{% block content %}

    <h1>Delete Veterinary</h1>

    <p>Are you sure you want to delete the veterinary <strong>{{ vet.name }}?</strong></p>

  <form method="post" novalidate>
    {% csrf_token %}
      <div>
          <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes, delete.">
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'home' %}">No, take me back.</a>
      </div>
  </form>
{% endblock %}