{% extends 'base.html' %}

{% block title %}Add new veterinary{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Veterinaries</a></li>
  <li class="breadcrumb-item active">Veterinary</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'home' %}">No, take me back.</a>
  </form>
{% endblock %}